<h1>{{(projectToDisplay | async)?.title}}</h1>
<h3>By, {{(projectToDisplay | async)?.author}}</h3>
<div class="row">
  <div class="col-md-6">
    <img src="{{(projectToDisplay | async)?.image}}"/>
  </div>
  <div class="col-md-6">
    <div class="goal well">
      <h4>Minimum Goal:</h4>
      <p>{{(projectToDisplay | async)?.minimumGoal}}</p>
      <h4>Goal Use:</h4>
      <p>{{(projectToDisplay | async)?.goalUse}}</p>
      <h4>Rewards:</h4>
      <p>{{(projectToDisplay | async)?.rewards}}</p>

      <div *ngFor="let project of projects | async">
        <div *ngIf="project.$key === (projectToDisplay | async)?.$key">
          <app-donate-money [selectedProject]='project'></app-donate-money>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Platform</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{(projectToDisplay | async)?.platform}}</td>
      <td>{{(projectToDisplay | async)?.genre}}</td>
    </tr>
  </tbody>
</table>
<br>
<h4>Description:</h4>
<p>{{(projectToDisplay | async)?.description}}</p>
