<div id="body">
  <a routerLink=""><div class="jumbotron">
    <h1>{{title}}</h1>
      <div id="adminName" *ngIf="(user | async)?.email != undefined"> Welcome, {{ (user | async)?.email}} </div>
  </div></a>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="pc">PC</a></li>
        <li><a routerLink="playstation">PlayStation</a></li>
        <li><a routerLink="xbox">X-Box</a></li>
        <li><a routerLink="mobile">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <!-- <a class="text-muted" routerLink="admin">Admin</a> -->
  <label>Email</label>
  <input #email>
  <label>Password</label>
  <input type="password" #password>

  <button (click)="login(email.value, password.value)" routerLink="admin">Admin Login</button>
  <button (click)="logout()" routerLink="">Admin Logout</button>
  </div>
</footer>
